In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = pd.read_csv("https://gist.githubusercontent.com/yifancui/e1d5ce0ba59ba0c275c0e2efed542a37/raw/dde7dbca24429542ff78964b83aaf064142dd771/data.csv")
data.head()

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,1

In [4]:
data['Type of glass'].value_counts()

2    76
1    70
7    29
3    17
5    13
6     9
Name: Type of glass, dtype: int64

In [5]:
# we have 6 types of glass -> multiclass classification

In [7]:
data.duplicated().sum()

0

In [8]:
X = data.drop("Type of glass",axis=1)

In [10]:
y = data["Type of glass"]

In [11]:
X

     Id number       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0            1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1            2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2            3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3            4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4            5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..         ...      ...    ...   ...   ...    ...   ...   ...   ...  ...
209        210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210        211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211        212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212        213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213        214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 10 columns]

In [12]:
y

0      1
1      1
2      1
3      1
4      1
      ..
209    7
210    7
211    7
212    7
213    7
Name: Type of glass, Length: 214, dtype: int64

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

### Note : wherever we have distance in algorithm, we will use scaling

In [14]:
# scaling

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
X_train

array([[0.37089202, 0.20291777, 0.41304348, ..., 0.23605948, 0.        ,
        0.        ],
       [0.75586854, 0.35499558, 0.57509881, ..., 0.32156134, 0.04761905,
        0.47058824],
       [0.51173709, 0.30371353, 0.59090909, ..., 0.51672862, 0.        ,
        0.        ],
       ...,
       [0.43192488, 0.2020336 , 0.47233202, ..., 0.27509294, 0.        ,
        0.37254902],
       [0.84037559, 0.31874447, 0.66403162, ..., 0.36152416, 0.        ,
        0.        ],
       [0.47887324, 0.3045977 , 0.37351779, ..., 0.37081784, 0.        ,
        0.39215686]])

In [16]:
X_test

array([[ 0.04225352,  0.27586207,  0.4486166 ,  0.80178174,  0.33333333,
         0.59217877,  0.09178744,  0.2760223 ,  0.        ,  0.21568627],
       [ 0.92488263,  0.26348364,  0.78458498,  0.        ,  0.63862928,
         0.6461825 ,  0.        ,  0.32713755,  0.20952381,  0.        ],
       [ 0.30985915,  0.45137047,  0.45849802,  0.81291759,  0.18068536,
         0.44878957,  0.03059581,  0.41078067,  0.        ,  0.33333333],
       [ 0.89671362,  0.20822281,  0.81422925,  0.        ,  0.65109034,
         0.6461825 ,  0.        ,  0.30947955,  0.2031746 ,  0.17647059],
       [ 0.54929577,  0.255084  ,  0.59090909,  0.81959911,  0.47352025,
         0.41899441,  0.10305958,  0.22769517,  0.        ,  0.        ],
       [ 0.52112676,  0.71087533,  0.05731225,  0.        ,  0.14330218,
         0.60893855,  0.        ,  0.88568773,  0.        ,  0.        ],
       [ 0.07042254,  0.27851459,  0.41106719,  0.78841871,  0.29283489,
         0.63873371,  0.09339775,  0.27509294,  0.        ,  0.        ],
       [ 0.40375587,  0.19363395,  0.49604743,  0.77728285,  0.36760125,
         0.6405959 ,  0.06119163,  0.24163569,  0.        ,  0.        ],
       [ 0.35211268,  0.20291777,  0.45256917,  0.79732739,  0.38006231,
         0.61638734,  0.11111111,  0.23513011,  0.        ,  0.        ],
       [ 0.67605634,  0.23386384,  0.44664032,  0.70824053,  0.29283489,
         0.58845438,  0.09339775,  0.31412639,  0.        ,  0.47058824],
       [ 0.85446009,  0.34703802,  0.67588933,  0.        ,  0.56074766,
         0.54562384,  0.        ,  0.50650558,  0.        ,  0.        ],
       [ 0.79812207,  0.54730327,  0.53557312,  0.        ,  0.40186916,
         0.44878957,  0.05152979,  0.63289963,  0.        ,  0.        ],
       [ 0.66197183,  0.31830239,  0.48814229,  0.80846325,  0.24299065,
         0.56238361,  0.09178744,  0.27695167,  0.02857143,  0.33333333],
       [ 0.342723  ,  0.22104332,  0.51581028,  0.79510022,  0.39875389,
         0.5698324 ,  0.09822866,  0.22862454,  0.        ,  0.        ],
       [ 0.83568075,  0.30857648,  0.73715415,  0.49888641,  0.41433022,
         0.47858473,  0.        ,  0.35594796,  0.        ,  0.        ],
       [ 0.78403756,  0.37046861,  0.37747036,  0.        ,  0.42367601,
         0.73370577,  0.06119163,  0.5669145 ,  0.        ,  0.        ],
       [ 0.89201878,  0.21308576,  0.62252964,  0.39643653,  0.46728972,
         0.61266294,  0.        ,  0.30111524,  0.24126984,  0.        ],
       [ 0.08450704,  0.34482759,  0.62648221,  0.83073497,  0.27725857,
         0.4301676 ,  0.00966184,  0.32156134,  0.        ,  0.        ],
       [ 0.21126761,  0.33996463,  0.54545455,  0.77505568,  0.33021807,
         0.39851024,  0.08856683,  0.33178439,  0.        ,  0.        ],
       [ 0.86384977, -0.00707339,  1.31422925,  0.        ,  0.01557632,
         1.04283054,  0.        ,  0.1133829 ,  0.        ,  0.        ],
       [ 0.4600939 ,  0.24668435,  0.38339921,  0.64142539,  0.4423676 ,
         0.63314711,  0.11755233,  0.28903346,  0.        ,  0.        ],
       [ 0.98122066,  0.21750663,  0.67391304,  0.        ,  0.80685358,
         0.52141527,  0.01288245,  0.34851301,  0.33650794,  0.        ],
       [ 0.99061033,  0.41290893,  0.7173913 ,  0.        ,  0.53894081,
         0.67225326,  0.        ,  0.27973978,  0.52063492,  0.        ],
       [ 0.91549296,  0.18302387,  0.67391304,  0.        ,  0.74454829,
         0.66666667,  0.01288245,  0.33828996,  0.19365079,  0.09803922],
       [ 0.69483568,  0.2382847 ,  0.49604743,  0.79510022,  0.33956386,
         0.53817505,  0.09017713,  0.27973978,  0.        ,  0.19607843],
       [ 0.48826291,  0.56542882,  0.61264822,  0.64587973,  0.2741433 ,
         0.24953445,  0.01288245,  0.49814126,  0.        ,  0.        ],
       [ 0.14084507,  0.2816092 ,  0.37944664,  0.79287305,  0.31464174,
         0.60893855,  0.09822866,  0.30297398,  0.        ,  0.2745098 ],
       [ 0.11737089,  0.27984085,  0.44466403,  0.78841871,  0.28660436,
         0.59404097,  0.10466989,  0.28810409,  0.        ,  0.        ],
       [ 0.82159624,  0.43678161,  0.44268775,  0.07349666,  0.38006231,
         0.66666667,  0.02093398,  0.54275093,  0.        ,  0.54901961],
       [ 0.07511737,  0.28868258,  0.38537549,  0.81737194,  0.27102804,
         0.61452514,  0.09822866,  0.30390335,  0.        ,  0.        ],
       [ 0.25821596,  0.28205128,  0.33992095,  0.60356347,  0.31152648,
         0.72439479,  0.09017713,  0.33736059,  0.        ,  0.47058824],
       [ 0.64788732,  0.24005305,  0.40711462,  0.78396437,  0.3894081 ,
         0.66108007,  0.10628019,  0.2295539 ,  0.        ,  0.        ],
       [ 0.74178404,  0.28514589,  0.55335968,  0.75946548,  0.38317757,
         0.41527002,  0.09339775,  0.31226766,  0.        ,  0.        ],
       [ 0.43661972,  0.20291777,  0.49604743,  0.74387528,  0.36760125,
         0.61266294,  0.06280193,  0.25929368,  0.        ,  0.        ],
       [ 0.32394366,  0.51679929,  0.50988142,  0.79732739,  0.16510903,
         0.40595903,  0.01932367,  0.44052045,  0.        ,  0.05882353],
       [ 0.95305164,  0.23297966,  0.80434783,  0.        ,  0.52959502,
         0.61452514,  0.        ,  0.26486989,  0.54285714,  0.        ],
       [ 0.8028169 ,  0.08178603,  0.45256917,  0.        ,  0.85669782,
         0.12476723,  1.        ,  0.14219331,  0.        ,  0.        ],
       [ 0.71361502,  0.28647215,  0.57509881,  0.81291759,  0.11214953,
         0.59404097,  0.00966184,  0.32527881,  0.        ,  0.        ],
       [ 0.45539906,  0.27055703,  0.29051383,  0.72383073,  0.27102804,
         0.69646182,  0.09983897,  0.32249071,  0.        ,  0.47058824],
       [ 0.3943662 ,  0.12290009,  0.69565217,  0.68819599,  0.5576324 ,
         0.45996276,  0.17713366,  0.15334572,  0.        ,  0.        ],
       [ 0.4741784 ,  0.2648099 ,  0.3201581 ,  0.60579065,  0.41744548,
         0.5698324 ,  0.11272142,  0.35315985,  0.        ,  0.        ],
       [ 0.93896714,  0.16666667,  0.87351779,  0.        ,  0.6105919 ,
         0.68715084,  0.        ,  0.2704461 ,  0.2       ,  0.        ],
       [ 0.28169014,  0.34217507,  0.56719368,  0.80623608,  0.25545171,
         0.52700186,  0.02254428,  0.30947955,  0.        ,  0.        ]])

In [17]:
def knn_training(x_train,y_train,x_test,k):
    '''
    x_train -> training data
    y_train -> label for training
    x_test -> validation data
    k -> number of nearest neighbours
    '''
    
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(x_train,y_train)
    prediction = knn.predict(x_test)
    return prediction

In [18]:
# how to decide the number of k ?
# pros and cons of knn

In [19]:
import math

n = data.shape

In [20]:
n

(214, 11)

In [22]:
k=math.sqrt(n[0])
k

14.628738838327793

In [24]:
knn_training(X_train,y_train,X_test,int(k))

array([1, 7, 1, 7, 2, 2, 1, 2, 2, 2, 7, 2, 2, 2, 3, 5, 7, 1, 1, 7, 2, 7,
       7, 7, 2, 1, 1, 1, 2, 1, 1, 2, 3, 2, 1, 7, 7, 2, 2, 2, 2, 7, 1])